.container
  .row
    .span6    
      %h2 Login Required
      %p
        EFAR Alert is restricted to EFAR managers
      %form.form-horizontal{ action: session_path, method: 'POST' }
        %legend Sign In
        - if flash[:notice].present?
          .alert.alert-info=flash[:notice]
        - if flash[:alert].present?
          .alert=flash[:alert]

        .control-group
          %label.control-label Username
          .controls
            %input{type: 'text', name:'username'}

        .control-group
          %label.control-label Password
          .controls
            %input{type: 'password', name: 'password'}

        .control-group
          .controls
            %button.btn{:type=>"submit"} Sign In
