.container
  .login-container
    %form.form-horizontal{ :action => session_path, :method => "POST" }
      %legend Welcome EFAR, sign up to receive SMS alerts
      - if flash[:notice].present?
        .alert.alert-info=flash[:notice]
      - if flash[:alert].present?
        .alert=flash[:alert]
      
      .control-group
        .control-label Full Name
        .controls
          %input{:type => "text", :name => 'full_name'}

      .control-group
        .control-label Password
        .controls
          %input{:type=>"password", :name=>"password", :placeholder=>"Password"}
      

      %br
      %button.btn{:type=>"submit"} Sign In
