.container
  .login-container
    .row
      .span6
        %h2 Thank You
        %p
          The EFAR dispatch software is no longer available. We hope to make another version in 2014.
          %br
          %br
          Thank you for allowing us to work in the control center. We learned a tremendous amount from you, and appreciated the help and support you gave us.
          %br
          %br
          %em Sincerely,
          %br
          %em David Crockett and McKenzie Wilson

.container.hide
  .login-container
    .row
      .span2
        = image_tag 'efar_login_logo_med.png'
      .span6
        %form.form-horizontal{ :action => session_path, :method => "POST" }
          %legend Dispatch Panel
          
          - if flash[:notice].present?
            .alert.alert-info=flash[:notice]
          - if flash[:alert].present?
            .alert=flash[:alert]

          %p Content restricted to ambulance dispatchers, please login for access:

          .control-group
            %label.control-label Name
            .controls
              = select "dispatcher", "id", Dispatcher.all.collect { |r| [r.full_name, r.id] }

          .control-group
            %label.control-label Drainage
            .controls
              = select "drainage", "id", Suburb.all.collect { |r| [r.name, r.id] }

          .control-group
            %label.control-label Password
            .controls
              %input{:type=>"password", :name=>"password", :placeholder=>"Password"}

          .form-actions
            %button.btn{:type=>"submit"} Sign In
          