.page-header
  %h3
    Admins
    .pull-right
      %a.btn.btn-primary.btn-small{:href => new_admin_path}
        %i.icon-plus.icon-white
        Create

- if flash[:notice].present?
  .alert
    = flash[:notice]
    %button.close{:type=>"button", "data-dismiss"=>"alert"} &times;

%table.table
  %thead
    %tr
      %th Full Name
      %th Email
  %tbody
    - @admins.each do |admin|
      %tr
        %td= admin.full_name
        %td= admin.email
        %td
          .btn-group
            %a.btn.btn-mini.dropdown-toggle{"data-toggle"=>"dropdown", :href=>'#'}
              %i.icon-cog
              %span.caret
            %ul.dropdown-menu.pull-right
              %li
                %a{:href=>edit_admin_path(admin)}
                  %i.icon-pencil
                  Edit
              - if @current_admin!=admin
                %li
                  %a{:href=>admin_path(admin), "data-confirm"=>"Are you sure?", "data-method"=>"delete"}
                    %i.icon-trash
                    Delete
          
.form-actions
  %a.btn.btn-primary.btn-small{:href => new_admin_path}
    %i.icon-plus.icon-white
    Add new Admin  
