= form_for([:admin, @township], :html => {:class => 'form-horizontal'}) do |f|
  
  %legend
    Informal Settlement

  - if @township.errors.present?
    .alert.alert-error There were some errors saving the informal settlement. See below for more information.  

  = horizontal_text_field(@township, :name)

  .form-actions
    %button.btn.btn-primary{:type=>'submit'} Save
    %a.btn{:href=>admin_townships_path} Cancel
