#efars-index
  .page-header
    %h2
      EFARS
      %small Map
      .pull-right
        .btn-toolbar
          .btn-group
            %a.btn.btn-link{:href=>'#', 'data-lat'=>'-33.9909', 'data-lng'=>'18.5542', 'data-zoom'=>15, 'data-type'=>'pan-map'}
              Manenberg

  #efar-location-mapper.google-map

:javascript

  jQuery(function(){
    new App.Controllers.Efars.Index('#efar-location-mapper');
  });