.row
  .span2
    %ul.nav.nav-tabs.nav-stacked
      %li{'class' => controller.action_name=='active' && "active"}
        %a{href: active_efars_path}
          Active
      %li{'class' => controller.action_name=='nyc' && "active"}
        %a{href: nyc_efars_path}
          Not yet competent
      %li{'class' => controller.action_name=='expired' && "active"}
        %a{href: expired_efars_path}
          Expired
      %li{'class' => controller.action_name=='index' && "active"}
        %a{href: efars_path}
          Everyone
  .span10
    = render 'table'