.navbar
  .navbar-inner
    %form.form-search.navbar-form.pull-left{:action => search_efars_path, :method => 'get'}
      %input{type:'text', placeholder: 'Search EFARs', name: 'search'}
      %button.btn{type:'submit'} Search
    %ul.nav.pull-right
      %li.divider-vertical
      %li
        %a{href:'#groupMessageModal', role:'button', 'data-toggle'=>'modal'} Message Group
      %li.divider-vertical
      %li
        %a{href:new_efar_path}
          Create EFAR

#groupMessageModal.modal.hide.fade{role: 'dialog', tabindex: '-1'}
  .modal-header
    %a.close{href:'#','data-dismiss'=>'modal'} &times;
    %h3
      Send message to 
      = pluralize @efars.size, "#{@efars_group_title} EFAR"
  .modal-body
    .alert{'data-type'=>'sending', 'style'=>'display:none;'}
      Sending message... please keep this window open.
    %form{'data-efars'=>@efars.to_json(:only => [:id, :full_name])}
      %textarea.input-block-level{:rows=>'3', placeholder: 'What do you want to say?'}
      .sent-message
      .group{'data-type'=>'sent-group', 'style'=>'display:none;'}
        %label Sent
        .tokens
      .group{'data-type'=>'error-group', 'style'=>'display:none;'}
        %label Error
        .tokens
  .modal-footer
    %button.btn.btn-primary{type:'button'} Send
    %a.btn.btn-link{href:'#', 'data-dismiss'=>'modal', 'data-type'=>'cancel'} Cancel


.row
  .span3
    %ul.nav.nav-tabs.nav-stacked
      %li{'class' => controller.action_name=='active' && "active"}
        %a{href: active_efars_path}
          Active
      %li{'class' => controller.action_name=='bibbed' && "active"}
        %a{href: bibbed_efars_path}
          Issued Bib
      %li{'class' => controller.action_name=='nyc' && "active"}
        %a{href: nyc_efars_path}
          Not yet competent
      %li{'class' => controller.action_name=='expired' && "active"}
        %a{href: expired_efars_path}
          Expired
      %li{'class' => controller.action_name=='index' && "active"}
        %a{href: efars_path}
          Everyone
  .span9
    = render 'table'

:javascript
  jQuery(function(){
    new App.Controllers.GroupMessageModal();
  });