.page-header
  %h2
    EFARS
    %small Map
    .pull-right
      .btn-toolbar
        .btn-group
          %a.btn{:href => efars_path }
            Table
          %a.btn.active{:href => map_efars_path}
            Map
        .btn-group
          %a.btn{:href=> new_efar_path }
            Create

#efar-location-mapper.google-map

:javascript

  jQuery(function(){
    new App.Controllers.Admin.Efars.Map('#efar-location-mapper');
  });