.container
  %form.form-horizontal{ :action => efars_path, :method => "POST" }
    %legend 
      Sign Up
      %small receive SMS alerts when emergencies occur near your home
    
    = horizontal_text_field @efar, :full_name
    = horizontal_text_field @efar, :contact_number, :label => 'Mobile phone number', :help_text => 'e.g. (010) 222 3344'

    = horizontal_text_field @efar, :given_address, :label => 'Home address'

    = horizontal_password_field @efar

    .form-actions
      %button.btn.btn-primary{:type=>"submit"} Sign up
