= form_for([:admin, @slum], :html => {:class => 'form-horizontal'}) do |f|
  
  %legend
    Informal Settlement

  - if @slum.errors.present?
    .alert.alert-error There were some errors saving the informal settlement. See below for more information.  

  = horizontal_text_field(@slum, :name)

  .form-actions
    %button.btn.btn-primary{:type=>'submit'} Save
    %a.btn{:href=>admin_slums_path} Cancel
