.emergencies-new
  .section
    .header
      .pull-right
        %a.btn.btn-link{ :href => emergencies_path } Cancel
      .header-body
        %h4 New Dispatch
    .body
      %form.form-inline{'data-type'=>'search'}
        %fieldset.search-field
          
          %select{'name' => 'category'}
            %option{'selected' => true, 'value' => ''} General emergency
            %option Uncontrolled bleed
            %option Motor vehicle accident
            %option Broken bone
            %option Unconscious person
            %option Fall from a height
            %option Seizure
            %option Burn
            %option Impaled object
            %option Shortness of breath
            %option Abdominal pain
            %option Confused person

          .input-append.input-prepend
            %span.add-on @
            %input.input-xlarge{ :type=>'text', :name=>'searchAddress', :placeholder => 'Emergency Location' }
            %button.btn{ 'data-type'=>'search' } Search
          %span.help-block
            %small For best results type in the suburb (e.g. "Manenberg", or "Lavendar Hill"). If a street number cannot be found, then try inputting a cross street (e.g. "4th St and NYC")

      .mapfield
        %h5 Results
        .row-fluid
          .span8
            #map-results
          .span4
            %ul.nav.nav-pills.nav-stacked{'data-type'=>'searchResults'}

      .form-actions
        %button.btn.btn-primary{'type' => 'submit'} Send Dispatch

