.page-header
  %h3
    Community Centers
    .pull-right
      %a.btn.btn-primary.btn-small{:href => new_community_center_path}
        %i.icon-plus.icon-white
        Create


- if flash[:notice].present?
  .alert
    = flash[:notice]
    %button.close{:type=>"button", "data-dismiss"=>"alert"} &times;

%table.table
  %thead
    %tr
      %th Name
      %th Location
        

  %tbody
    - @community_centers.each do |community_center|
      %tr
        %td= community_center.name
        %td
          %small= community_center.geocode_search_address
        %td
          .btn-group
            %a.btn.btn-mini.dropdown-toggle{"data-toggle"=>"dropdown", :href=>'#'}
              %i.icon-cog
              %span.caret
            %ul.dropdown-menu.pull-right
              %li
                %a{:href=>edit_community_center_path(community_center)}
                  %i.icon-pencil
                  Edit
              %li
                %a{:href=>community_center_path(community_center), "data-confirm"=>"Are you sure?", "data-method"=>"delete"}
                  %i.icon-trash
                  Delete
          
.form-actions
  %a.btn.btn-primary.btn-small{:href => new_community_center_path}
    %i.icon-plus.icon-white
    Add new community center  
