.control-group{ :class => record.errors[:password].present? && "error" }
  %label.control-label Password
  .controls
    %input{:type=>"password", :name=>"#{record.class.to_s.underscore}[password]", :placeholder=>""}
    - if record.errors[:password].present?
      %span.help-inline= record.errors[:password].first        

.control-group
  %label.control-label Password Confirmation
  .controls
    %input{:type=>"password", :name=>"#{record.class.to_s.underscore}[password_confirmation]", :placeholder=>""}