= form_for @dispatch, :html => { :class => 'form-horizontal', 'data-type'=>'new-dispatch-form' } do |f|
  
  .alert.alert-error.hide
    %button{:type=>'button', :class=>'close', 'data-dismiss'=>'alert'} &times;
    There were some errors sending the dispatch.

  .control-group{'data-field-type'=>'location'}
    %label.control-label Location
    .controls
      %div{'data-model-name'=>'dispatch', 'data-type'=>'location-selector', 'style' => 'display:inline;'}
      %span.help-inline

  .control-group{'data-field-type'=>'landmarks'}
    %label.control-label Landmarks
    .controls
      %input.landmarks.span6{ :type=> 'text', :name => "dispatch[landmarks]", :placeholder => 'Required', :value => @dispatch.landmarks }
      %span.help-inline
      %span.help-block
        %small Enter a location to help the EFAR find the emergency. For example: "House number 31", "at the corner of Sheldt St and Thames Ave", or "look for a red container"

  .control-group{'data-field-type'=>'category'}
    %label.control-label Describe the emergency:
    .controls
      %input.category.span6{ :type=>'text', :name => "dispatch[emergency_category]", :placeholder => 'Required', :value => @dispatch.emergency_category }
      %span.help-inline
      %span.help-block
        %small Describe the emergency. For example: "Shortness of breath", or "Motor accident"

  .form-actions
    %button.btn.btn-primary{:type=>'submit','data-type'=>'submit'} Send Dispatch