= form_for @dispatch, :html => { :class => 'form-horizontal', 'data-type'=>'new-dispatch-form' } do |f|

  .control-group{'data-field-type'=>'location'}
    %label.control-label Location
    .controls
      %div{'data-model-name'=>'dispatch', 'data-type'=>'location-selector', 'style' => 'display:inline;'}
      %span.help-inline

  .control-group{'data-field-type'=>'landmarks'}
    %label.control-label Landmarks
    .controls
      %input.landmarks{ :type=> 'text', :name => "dispatch[landmarks]", :placeholder => 'Required', :value => @dispatch.landmarks }
      %span.help-block
        %small e.g. "House number 31", "at the corner of Sheldt St and Thames Ave", or "look for a red container"

  .control-group{'data-field-type'=>'category'}
    %label.control-label Emergency Category
    .controls
      = select "dispatch", 'emergency_category', Dispatch::EMERGENCY_CATEGORIES, {:html=>{:class=>'category'}}

  .form-actions
    %button.btn.btn-primary{:type=>'submit','data-type'=>'submit'} Send Dispatch