.page-header
  %h2
    Dispatches
    .pull-right
      %a.btn{:href=>new_dispatch_path}
        New Dispatch

- @dispatches.each do |dispatch|
  = render :partial => 'shared/dispatch_item', :locals => { :dispatch => dispatch }