.page-header
  %h3
    Dispatches from the last 24 hours
    .pull-right
      %a.btn{:href=>new_emergency_path}
        Dispatch to street address
      %a.btn{:href=>new_informal_emergency_path}
        Dispatch to informal address

