#newDispatch

  .page-header
    %h4
      New Dispatch
      .pull-right
        %a.btn.btn-link{:href=>dispatches_path} Cancel

  - if @dispatch.errors.present?
    .alert.alert-error Location required to send a dispatch   

  = render :partial => 'form'        

:javascript
  jQuery(function(){
      new App.Controllers.Dispatches.New()
  });

