#newDispatch

  .page-header
    %h4
      New Dispatch
      .pull-right
        %a.btn.btn-link{:href=>dispatches_path} Cancel

  - if @dispatch.errors.present?
    .alert.alert-error Location required to send a dispatch   

  .tabbable
    %ul.nav.nav-tabs
      %li.active
        %a{:href => "#/street_address"}
          Street Address
      %li
        %a{:href => "#/township"}
          Informal Settlement

    #formTabs.tab-content
      #streetAddressFormTab.tab-pane
        = render :partial => 'geolocation_dispatch_form'
      #townshipFormTab.tab-pane
        = render :partial => 'township_dispatch_form'
    
