.page-header
  %h2
    = @dispatch.emergency_category
    %small
      = distance_of_time_in_words_to_now @dispatch.created_at
      ago
    .pull-right
      %a.btn.btn-link{:href => dispatches_path} View all dispatches


%small= @dispatch.created_at.strftime("%H:%M - %d %b %y")
%p.lead
  at
  = @dispatch.readable_location    

- if @dispatch.messages.size==0
  %p No Nearby Efars

- if @dispatch.messages.size > 0
  %div{'data-type'=>'dispatch-messages-table', 'data-dispatch-id'=>@dispatch.id}

:javascript
  jQuery(function(){
      new App.Controllers.Dispatches.Show()
  });