.page-header
  %h2
    = @dispatch.emergency_category
    .pull-right
      %a.btn.btn-link{:href => dispatches_path} View all dispatches

%p.lead
  At
  = @dispatch.readable_location
  %span.time
    = distance_of_time_in_words_to_now @dispatch.created_at
    ago

- if @dispatch.messages.size==0
  .well
    %strong No Nearby Efars

- if @dispatch.messages.size > 0
  %div{'data-type'=>'dispatch-messages-table', 'data-dispatch-id'=>@dispatch.id}

:javascript
  jQuery(function(){
      new App.ShowDispatch
  });