= form_for([:admin, @suburb], :html => {:class => 'form-horizontal'}) do |f|
  
  %legend
    Suburb

  - if @suburb.errors.present?
    .alert.alert-error There were some errors saving the Suburb. See below for more information.  

  = horizontal_text_field(@suburb, :name)

  .control-group
    %label.control-label Location
    .controls{ 'data-type' => 'geocoded-address-field', 'data-model-name' => 'suburb'}

  .form-actions
    %button.btn.btn-primary{:type=>'submit'} Save
    %a.btn{:href=>admin_suburbs_path} Cancel

:javascript
  
  af = new GeocoderUi.AddressField()