.informal-emergencies-new
  .section
    .header
      .pull-right
        %a.btn.btn-link{ :href => dispatches_path } Cancel
      .header-body
        %h4 Dispatch EFARs to Emergency in an Informal Settlement
    .body
      = form_for(@slum_emergency, :url => informal_emergencies_path, :html => {:class=>'form-horizontal'}) do |f|

        .control-group
          %label.control-label Category
          .controls
            = select "slum_emergency", 'category', Emergency::CATEGORIES

        .control-group{ :class => @slum_emergency.errors[:shack_number].present? && "error" }
          %label.control-label House Number
          .controls
            %input{ :type=> 'text', :name => "slum_emergency[shack_number]", :placeholder => 'Required', :value => @slum_emergency.shack_number}
            - if @slum_emergency.errors[:shack_number].present?
              %span.help-inline
                = @slum_emergency.errors[:shack_number].first
            %span.help-block
              %small e.g. House 21

        .control-group
          %label.control-label Settlement Name
          .controls
            = collection_select "slum_emergency", "slum_id", Slum.all, :id, :name

        .control-group
          %label.control-label Landmarks
          .controls
            %input{ :type=> 'text', :name => "slum_emergency[landmarks]", :placeholder => 'Optional', :value => @slum_emergency.landmarks}
            %span.help-block
              %small e.g. "Across from the green container"

        .form-actions
          %button.btn.btn-primary{:type=>'submit'} Send Dispatch!
          %a.btn{:href=>dispatches_path} Cancel
