// Place all the styles related to the admin/admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-container {
  margin-top: 80px;
}
.dashboard-header {

  .button-column {
    float: right;
    padding-top: 12px;
  }
}