.container
  .row
    .span6
      .dashboard-header
        .button-column
          %a.btn.btn-primary{:href => new_admin_admin_path}
            %i.icon-plus.icon-white
            Add new Admin
        .fixed
          %h3
            Admins
  .row
    .span6
      %table.table
        %thead
          %tr
            %th Full Name
            %th Email
        %tbody
          - @admins.each do |admin|
            %tr
              %td= admin.full_name
              %td= admin.email
              %td
                %a{:href=>edit_admin_admin_path(admin)} Edit