.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href=>'#'}EFAR Admin
      %ul.nav
        %li
          %a{:href=>'#'} Admins
        %li
          %a{:href=>'#'} Researchers
        %li
          %a{:href=>'#'} Dispatchers
        %li
          %a{:href=>'#'} Efars