.page-header
  %h2 New alert

%h4 Where is the emergency?
.form-inline
  %input.input-xxlarge{:type=>'text', :placeholder=>'Location', 'data-type'=>'location'}
  %input.input-medium{:type=>'text', :value=>'Atlantis', 'data-type' => 'suburb'}
  %button.btn{:type=>'button', 'data-type' => 'findButton'} Find

.row
  .span10
    #alert-location-mapper.google-map
  .span2
    %h5 Results
    %ul.nav.nav-pills.nav-stacked{'data-type'=>'mapResults'}

%label Landmarks
%input{:type=>'text', :name => 'landmarks'}

%label Emergency type
%input{:type=>'text', :name => 'incident_type'}

.form-actions
  %button.btn.btn-primary{'data-type'=>'sendAlert'} Send Alert

#confirmationModal.modal.hide.fade
  Modal Content

:javascript

  jQuery(function(){
    new App.Controllers.Alerts.New();
  });