#new-alert
  .page-header
    %h2 New alert

  %h4 Where is the emergency?
  .form-inline
    %input.input-xlarge{:type=>'text', :placeholder=>'Location'}
    %input.input-medium{:type=>'text', :value=>'Atlantis'}
    %button.btn{:type=>'button'} Find

  #alert-location-mapper.google-map

  %label Landmarks
  %input{:type=>'text'}

  %label Emergency type
  %input{:type=>'text'}

  .form-actions
    %button.btn.btn-primary Send Alert

:javascript

  jQuery(function(){
    new App.Controllers.Alerts.New();
  });