= form_for([:admin, @efar], :html => {:class => 'form-horizontal'}) do |f|
  
  = horizontal_text_field(@efar, :full_name)

  .control-group
    %label.control-label Community Center
    .controls
      = select("efar", "community_center_id", CommunityCenter.all.collect { |c| [c.name, c.id] } )

  - @efar.contact_numbers.each do |listing|
    .control-group
      %label.control-label Contact Number
      .controls
        %input{:type=>'text', :name => 'efar[contact_numbers]'}

  .form-actions
    %button.btn.btn-primary{:type=>'submit'} Save
    %a.btn{:href=>admin_efars_path} Cancel

#location-search-app

:javascript

  jQuery(function(){
    new App.LocationSearch("#location-search-app");
  });
