.page-header
  %h2
    EFARS
    .pull-right
      .btn-toolbar
        .btn-group
          %a.btn{:href => admin_efars_path, :class=> controller.action_name=="index" && "active" }
            Index
          %a.btn{:href => map_admin_efars_path, :class=> controller.action_name=="map" && "active" }
            Map
        .btn-group
          %a.btn{:href=> new_admin_efar_path, :class=> controller.action_name=="new" && "active" }
            Create
        .btn-group
          %a.btn{:href => message_admin_efars_path, :class => controller.action_name=="message" && "active" }
            Message

- if flash[:notice].present?
  .alert
    = flash[:notice]
    %button.close{:type=>"button", "data-dismiss"=>"alert"} &times;