.navbar
  .navbar-inner
    %form.form-search.navbar-form.pull-left{:action => search_admin_efars_path, :method => 'get'}
      %input{type:'text', placeholder: 'Search EFARs', name: 'search'}
      %button.btn{type:'submit'} Search
    %ul.nav.pull-right
      %li.divider-vertical
      %li
        %a{href:'#'} View on map
      %li.divider-vertical
      %li
        %a{href:'#messageModal', 'data-toggle'=>'message-modal'} Message EFARs
        #messageModal{'data-efars'=>@efars.to_json, 'data-url'=>'/admin/efars'}
      %li.divider-vertical
      %li
        %a{href:new_efar_path}
          Create EFAR

.row
  .span3
    %div
      %label Community:
      %select.community-select
        %option{value: active_admin_efars_path, selected: @community.blank? && "true"} All
        - CommunityCenter.all.each do |c|
          %option{value: url_for(community_center_id: c.id), selected: @community==c && "true"}= c.name

    %label Status:
    %ul.nav.nav-tabs.nav-stacked
      %li{'class' => controller.action_name=='active' && "active"}
        %a{href: active_admin_efars_path(:community_center_id => @community)}
          Active
      %li{'class' => controller.action_name=='bibbed' && "active"}
        %a{href: bibbed_admin_efars_path(:community_center_id => @community)}
          Issued Bib
      %li{'class' => controller.action_name=='nyc' && "active"}
        %a{href: nyc_admin_efars_path(:community_center_id => @community)}
          Not yet competent
      %li{'class' => controller.action_name=='expired' && "active"}
        %a{href: expired_admin_efars_path(:community_center_id => @community)}
          Expired
      %li{'class' => controller.action_name=='index' && "active"}
        %a{href: admin_efars_path(:community_center_id => @community)}
          Everyone  
  .span9
    = render 'table'
  