.navbar
  .navbar-inner
    %form.form-search.navbar-form.pull-left{:action => search_efars_path, :method => 'get'}
      %input{type:'text', placeholder: 'Search EFARs', name: 'search'}
      %button.btn{type:'submit'} Search
    %ul.nav.pull-right
      %li.divider-vertical
      %li
        %a{href:'#'} View on map
      %li.divider-vertical
      %li
        %a{href:'#messageModal', 'data-toggle'=>'message-modal'} Message EFARs
        #messageModal{'data-efars'=>@efars.to_json, 'data-url'=>'/admin/efars'}
      %li.divider-vertical
      %li
        %a{href:new_efar_path}
          Create EFAR

%table.table
  %thead
    %tr
      %th Name
      %th Contact number
      %th Location
      %th Community

  %tbody
    - @efars.each do |efar|
      %tr
        %td= link_to efar.full_name, [:admin, efar]
        %td= efar.readable_contact_number
        %td= efar.given_address
        %td= efar.community_center.name
        %td
          .btn-group
            %a.btn.btn-mini.dropdown-toggle{"data-toggle"=>"dropdown", :href=>'#'}
              %i.icon-cog
              %span.caret
            %ul.dropdown-menu.pull-right
              %li
                %a{:href=>edit_admin_efar_path(efar)}
                  %i.icon-pencil
                  Edit
              %li
                %a{:href=>admin_efar_path(efar), "data-confirm"=>"Are you sure?", "data-method"=>"delete"}
                  %i.icon-trash
                  Delete
  