- content_for :section_header do
  %h3= "EFAR #{@efar.full_name}"

- content_for :section_actions do
  %a.btn.btn-link{:href => edit_admin_efar_path(@efar) } Edit

.control-group
  %label.control-label Community Center
  .controls
    = @efar.community_center.name

.control-group
  %label.control-label Contact Numbers
  .controls
    - @efar.contact_numbers.each do |listing|
      .number=listing.contact_number
