!!!
%html
  %head
    %title EFAR consent
    = csrf_meta_tags
  %body
    %h2
      EFAR SMS ALERT Research consent form
    %p
      %i
        Read this page carefully. Click the link at the bottom of the page to activate the EFAR Alert system on your phone.
    %p
      This study is being conducted under the supervision of the University of Cape Town (HREC/REF: 394/2014) and Dartmouth Medical School. Please read this form carefully and ask any questions you may have before agreeing to take part in the study.
    %p 
      %b 
        What the study is about: 
      The purpose of this study is to see if EFARs (such as yourself) respond to alerts sent to their mobile phones when emergencies occur near their homes.
    %p
      %b
        What we will ask you to do: 
      If you agree to be in this study, then we will send you a message on your phone whenever an emergency occurs near your home. The message will tell you where the emergency is at. You can go to the emergency if you wish to help. But, you are not required to help if you do not want to, and you should only help if you know how to find the emergency and it is safe for you to go there.
    %p
      %b
        What data will we collect: 
      We will ask for your home address and mobile phone number, which we will use to contact you. If we see you at an emergency, then we will ask for your full name, and we will record that you helped at that emergency. This information will be kept private in a secure computer that only researchers can access. In any sort of report that we make public, we will not include any information that could be used to identify you.
    %p
      %b
        Taking part is voluntary:
      Taking part in this study is completely voluntary. You may withdraw at any time. If you decide not to take part or withdraw, it will not affect your current or future relationship with the researchers, Dartmouth Medical School, or the University of Cape Town.
    %p
      %b
        If you have questions: 
      The researchers conducting this study are David Crockett, David Suwondo, Lars Matkins, and Marcus Slingers. If you have questions please message David at (060) 804 2569
    %p
      %b
        Statement of Consent: 
      I have read the foregoing information, or it has been read to me.  I have had the opportunity to ask questions about it and any question I have asked have been answered to my satisfaction.  I consent voluntarily to participate as a subject in this study and understand that I have the right to withdraw from the study at any time.
    %a{:href=>accept_study_invite_path}
      %b Click here to activate the EFAR Alert system for your phone.
