= form_for([:admin, @dispatcher], :html => {:class => 'form-horizontal'}) do |f|
  
  = horizontal_text_field(@dispatcher, :full_name)
  = horizontal_text_field(@dispatcher, :username)
  = horizontal_password_field(@dispatcher)

  .form-actions
    %button.btn.btn-primary{:type=>'submit'} Save
    %a.btn{:href=>admin_dispatchers_path} Cancel
