- content_for :section_header do
  %h3 Dispatchers

- content_for :section_actions do
  %a.btn.btn-primary{:href => new_admin_dispatcher_path}
    %i.icon-plus.icon-white
    Create new dispatcher

- if flash[:notice].present?
  .alert
    = flash[:notice]
    %button.close{:type=>"button", "data-dismiss"=>"alert"} x

%table.table
  %thead
    %tr
      %th Full Name
      %th Username
  %tbody
    - @dispatchers.each do |dispatcher|
      %tr
        %td= dispatcher.full_name
        %td= dispatcher.username
        %td
          .btn-group
            %a.btn.btn-mini.dropdown-toggle{"data-toggle"=>"dropdown", :href=>'#'}
              %i.icon-cog
              %span.caret
            %ul.dropdown-menu.pull-right
              %li
                %a{:href=>edit_admin_dispatcher_path(dispatcher)}
                  %i.icon-pencil
                  Edit
              %li
                %a{:href=>admin_dispatcher_path(dispatcher), "data-confirm"=>"Are you sure?", "data-method"=>"delete"}
                  %i.icon-trash
                  Delete
          
.form-actions
  %a.btn.btn-primary.btn-small{:href => new_admin_dispatcher_path}
    %i.icon-plus.icon-white
    Add new dispatcher  
