- content_for :section_header do
  %h3 Create a dispatcher

- content_for :section_actions do
  %a.btn.btn-link{:href => admin_dispatchers_path } Cancel

- if @dispatcher.errors.present?
  .alert.alert-error There were some errors creating a new dispatcher. See below for more information.

= render :partial => 'editor'