.feed-item-efar.row
  .span4
    %strong= dispatch_message.efar.full_name
  .span2
    .status
      = dispatch_message_state_label_html dispatch_message
  .pull-right
    .time
      = time_ago_in_words dispatch_message.updated_at
      ago