.container
  .row
    .span12
      .emergencies-live-feed
        .emergencies-live-feed-box
          .row
            .span1
              .feed-item-label-column
                %span.label.label-info New
            .span8
              .feed-item-header.row
                .time 5m
                .location 9 Lettie Court
              .feed-item-summary.row
                .span1.feed-item-summary-stat-box
                  .feed-item-summary-stat 9
                  .feed-item-summary-stat-label Nearby
                .span1.feed-item-summary-stat-box
                  .feed-item-summary-stat 6
                  .feed-item-summary-stat-label Alerted
                .span1.feed-item-summary-stat-box
                  .feed-item-summary-stat 3
                  .feed-item-summary-stat-label En Route
                .span1.feed-item-summary-stat-box
                  .feed-item-summary-stat 2
                  .feed-item-summary-stat-label On Scene
                .span1.feed-item-summary-stat-box
                  .feed-item-summary-stat 1
                  .feed-item-summary-stat-label Failed                
              .feed-item-details.row
                %span.datetime 12:58 PM - 21 Nov 12
                %span.dot ·
                %span.feed-item-dispatcher-name Dispached by Rauchmat Sauls
              .feed-item-efars.row
                .feed-item-efars-header
                  Dispatched EFARs

                .feed-item-efar-item.row
                  .span2
                    %span.label Queued
                  .span6
                    .feed-item-efar-item-header.row
                      .time 1m
                      .name Jared Sun
                    .feed-item-efar-item-details.row
                      %span.datetime 1:38 PM - 21 Nov 12
                .feed-item-efar-item.row
                  .span2
                    %span.label.label-warning Sending Message
                  .span6
                    .feed-item-efar-item-header.row
                      .time 1m
                      .name Michele Twomey
                    .feed-item-efar-item-details.row
                      %span.datetime 1:34 PM - 21 Nov 12
                .feed-item-efar-item.row
                  .span2
                    %span.label.label-important Failed, No Airtime
                  .span6
                    .feed-item-efar-item-header.row
                      .time 2m
                      .name David Crockett
                    .feed-item-efar-item-details.row
                      %span.datetime 1:38 PM - 21 Nov 12
                .feed-item-efar-item.row
                  .span2
                    %span.label.label-success On Scene
                  .span6
                    .feed-item-efar-item-header.row
                      .time 1m
                      .name McKenzie Wilson
                    .feed-item-efar-item-details.row
                      %span.datetime 1:38 PM - 21 Nov 12
 







