- content_for :js do
  = javascript_include_tag 'live_feed'

.container
  .row
    .span8
      .emergencies-live-feed
        = render :partial => 'emergency', :collection => @emergencies

:javascript
  jQuery(function(){
    new LiveFeed({el: $('.emergencies-live-feed')});
  });



 
 







