.container
  .row
    .span12
      .emergencies-live-feed
        
        .emergencies-live-feed-box
          .feed-item-status-header
            %span.label.label-info New
          .feed-item-header.row
            .time 5m
            .location 50 Trill Road, Cape Town, South Africa
          .feed-item-summary.row
            .span1.feed-item-summary-stat-box
              .feed-item-summary-stat 9
              .feed-item-summary-stat-label Nearby
            .span1.feed-item-summary-stat-box
              .feed-item-summary-stat 6
              .feed-item-summary-stat-label Alerted
            .span1.feed-item-summary-stat-box
              .feed-item-summary-stat 3
              .feed-item-summary-stat-label En Route
            .span1.feed-item-summary-stat-box
              .feed-item-summary-stat 2
              .feed-item-summary-stat-label On Scene
            .span1.feed-item-summary-stat-box
              .feed-item-summary-stat 1
              .feed-item-summary-stat-label Failed                
          .feed-item-details
            %span.datetime 12:58 PM - 21 Nov 12
            %span.dot ·
            %span.feed-item-dispatcher-name Dispached by Rauchmat Sauls

          .feed-item-efars-header
            Dispatch Messages

          .feed-item-efar.row
            .span2
              .status
                %span.label Queued
              .time 1m ago
            .span8
              .header Jared Sun
              .body
                .address 147 Crescent Drive
                .contact-number 828 893 498
              .footer
                .datetime 12:58 PM - 21 Nov 12  

          .feed-item-efar.row
            .span2
              .status
                %span.label.label-important Failed, No Airtime
              .time 1m ago
            .span8
              .header David Crockett
              .body
                .address 38 Groote Road
                .contact-number 828 413 411
              .footer
                .datetime 12:58 PM - 21 Nov 12

          .feed-item-efar.row
            .span2
              .status
                %span.label.label-success On Scene
              .time 2m ago
            .span8
              .header McKenzie Wilson
              .body
                .address 198 Lower Main Road
                .contact-number 828 413 498
              .footer
                .datetime 12:58 PM - 21 Nov 12



 
 







