= form_for([:admin, @head_efar], :html => {:class => 'form-horizontal'}) do |f|
  
  %legend
    Head Efar

  - if @head_efar.errors.present?
    .alert.alert-error There were some errors saving the head efar. See below for more information.

  = horizontal_text_field(@head_efar, :full_name)
  = horizontal_text_field(@head_efar, :contact_number)

  .control-group
    %label.control-label Community Center
    .controls
      = select("head_efar", "community_center_id", CommunityCenter.all.collect { |c| [c.name, c.id] }, { :include_blank => true } )


  .form-actions
    %button.btn.btn-primary{:type=>'submit'} Save
    %a.btn{:href=>admin_head_efars_path} Cancel
