@import "bootstrap_and_overrides";
@import "shared/layout";

//
// Shared components
// --------------------------------------------------

// Section box component
.section {
  background-color: white;
  margin-bottom: 20px;
  .border-radius(4px);
  border: 1px solid #ccc;
}
.section-header {
  background-color: #f6f6f6;
  border-top: 1px solid white;
  border-bottom: 1px solid #ccc;
  #gradient > .vertical(#fafafa, #f2f2f2);
  .border-top-radius(4px);
  height: 46px;
  padding: 0 15px 0;

  h3 {
    line-height: 30px;
    color: #555;
    float: left;
    text-shadow: 1px 1px 0 white;
  }
}
.section-actions {
  float: right;
  margin-top: 9px;
}
.section-body {
  padding: 10px 15px 0;
}

//
// View specific
// --------------------------------------------------

.dispatch-item {
  margin-bottom: @baseLineHeight;
}

// Address Selector
// --------------

@modalWidth: 640px; // best if a multiple of 80px
.modal-address-selector {
  width: @modalWidth;
  margin-left: (@modalWidth/2)*-1; // half the width

  form {
    margin-bottom: 0px;
  }
  
  .modal-body {
  }

  .search-map {
    width: 100%;
  }
}

.locations-list {
  .location-item {
    border-bottom: 1px solid @grayLighter;
    // padding-bottom: @baseLineHeight;
    margin-bottom: @baseLineHeight;
  }
}

// Message Creator
// ----------------

.token {
  display: block;
  float: left;
  padding: 2px 6px;
  margin-bottom: 3px;
  margin-right: 4px;
  background: @infoBackground;
  border: 1px solid @infoBorder;
}
.token-disabled {
  background: @grayLighter;
  border: 1px solid @grayLight;
  padding: 4px 6px;
}
.token-sent {
  color: @warningText;
  background: @warningBackground;
  border: 1px solid @warningBorder;
  padding: 4px 6px;
}
.token-error {
  color: @errorText;
  background: @errorBackground;
  border: 1px solid @errorBorder;
  padding: 4px 6px;
}
.token .remove {
  padding-left: 4px;
  font-size: 20px;
  font-weight: bold;
  line-height: @baseLineHeight;
  color: @black;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  .opacity(20);
  &:hover {
    color: @black;
    text-decoration: none;
    cursor: pointer;
    .opacity(40);
  }
}

.sent-message blockquote {
  margin-top: 5px;
}




