/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "bootstrap";

body {
  padding-top: 20px;
  background-image: asset-url('subtle_freckles.png',image);
}

.fixed {
  display:table-cell;
  _display:block;
  vertical-align:top;
  width:1000px;
  *width:auto;
  *zoom:1;
}

// SECTION CODE
.section {
  background-color: white;
  margin-bottom: 20px;
  @include border-radius(4px);
  border: 1px solid #ccc;
}

.section-header {
  background-color: #f6f6f6;
  border-top: 1px solid white;
  border-bottom: 1px solid #ccc;
  @include linear-gradient(#fafafa, #f2f2f2);
  @include border-top-radius(4px);
  height: 46px;
  padding: 0 15px 0;

  h3 {
    line-height: 30px;
    color: #555;
    float: left;
    text-shadow: 1px 1px 0 white;
  }
}
.section-actions {
  float: right;
  margin-top: 9px;
}
.section-body {
  padding: 10px 15px 0;
}

.admin-sidebar-nav {
  background-color: #f7f7f7;
  border-width: 0px 1px 1px 1px;
  border-color: #454545;
  border-style: solid;
  @include border-bottom-radius(4px);
  padding-bottom: 10px;
  padding-top: 10px;
}

.efar-shield {
  background-color: #1b1b1b;
  @include linear-gradient(#333A39, #1f2423);
  @include border-top-radius(4px);
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  height: 60px;

  .logo-text {
    float: left;
    width: 100px;
    height: 10px;
    margin-left: 10px;
    font-weight: bold;
    padding-top: 7px;
    font-size: 20px;
    color: white;
  }

  .efar-sprite-logo {
    background-image: asset-url("efar_sprite.png", image);
    background-position: -8px -8px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    width: 50px;
    height: 55px;
  }
}




