//
// Twitter Bootstrap Custom Import
// --------------------------------------------------

// Reset
@import "twitter_bootstrap/reset";

// Core variables and mixins
@import "twitter_bootstrap/variables";
@import "twitter_bootstrap/mixins";

// Grid system and page structure
@import "twitter_bootstrap/scaffolding";
@import "twitter_bootstrap/grid";
@import "twitter_bootstrap/layouts";

// Base CSS
@import "twitter_bootstrap/type";
@import "twitter_bootstrap/code";
@import "twitter_bootstrap/forms";
@import "twitter_bootstrap/tables";

// Components: Sprites
@import "twitter_bootstrap/sprites";
@iconSpritePath: '/assets/glyphicons-halflings.png';
@iconWhiteSpritePath: '/assets/glyphicons-halflings-white.png';

// Components: Common
@import "twitter_bootstrap/dropdowns";
@import "twitter_bootstrap/component-animations";
@import "twitter_bootstrap/close";
@import "twitter_bootstrap/wells";

// Components: Buttons & Alerts
@import "twitter_bootstrap/buttons";
@import "twitter_bootstrap/button-groups";
@import "twitter_bootstrap/alerts"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "twitter_bootstrap/navs";
@import "twitter_bootstrap/navbar";

// Utility classes
@import "twitter_bootstrap/utilities"; // Has to be last to override when necessary


//
// Layout classes
// --------------------------------------------------

@import "dispatch/scaffolding";
@import "shared/accounts";
@import "shared/section-box";

.emergency {
  margin-top: @baseLineHeight;
}


