@import "bootstrap_and_overrides";
@import "shared/layout";

//
// Shared components
// --------------------------------------------------

// Section box component
.section {
  background-color: white;
  margin-bottom: @baseLineHeight;
  .border-radius(4px);
  border: 1px solid @grayLight;
}
// add horizontal padding to all things inside of a section
.section > .header,
.section > .footer {
  padding: @baseLineHeight/2 @horizontalPadding;
}
.section > .body {
  padding: @baseLineHeight @horizontalPadding;
}
.section > .header,
.section > .header-label {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}
.section > .header {
  border-bottom: 1px solid @grayLighter;
  background: #fbfbfb;
  .border-top-radius(4px);
}
.section > .footer {
  font-size: 12px;
}
.section > .header > .pull-right > .btn {
  margin: @baseLineHeight/4 0;
}
.section > .header > .pull-right > .time {
  margin: @baseLineHeight/2 0;
}

.time {
  color: @grayLight;
  font-size: 12px;
}

//
// View specific
// --------------------------------------------------

// Dispatch App

.dispatch-map {
  background: @gray;
}


// Account Editor
.account-editor {
  .form-actions,
  form {
    margin-bottom: 0px;
  }
}

// TAB PANES
.stack > *:not(.active) {
  display: none;
}


// Misc

.page-footer {
  margin-top: @baseLineHeight*4;
  padding-top: @baseLineHeight;
  color: @grayLight;
  margin-bottom: @baseLineHeight*2;
}

#efars-index {

}




