@import "bourbon";
@import "lib/reset";

// layout
// Body is the container
// sidebar fixed
$navbarHeight: 80px;
$baseLineHeight: 20px;
body {
  padding-top: $navbarHeight;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  line-height: $baseLineHeight;
}
ul, ol {
  padding: 0;
  margin: 0 0 $baseLineHeight / 2 25px;
}

#page-topbar {
  background-color: #0093d5;
  height: $navbarHeight;
  width: 100%;
  position: fixed;
  display: absolute;
  top: 0;
  right: 0;
  border-bottom: 1px solid #1C8CC7;
  @include box-sizing(border-box);

  .brand {
    float: left;
    width: 200px;
  }
}

.efar-sprite-research-logo {
  background-image: asset-url("efar_sprite.png", image);
  background-position: -9px -99px;
  background-repeat: no-repeat;
  display: block;
  float: left;
  width: 160px;
  height: 55px;
  margin-left: 15px;
  margin-top: 12px;
}

.nav {
  margin-left: 0;
  position: relative;
  left: 0;
  display: block;
  float: left;
  list-style: none;
}
.nav > li {
  float: left;
}
.nav > li > a {
  float: none;
  color: white;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(30,30,30,0.5);
  display: block;
  padding: (($navbarHeight - $baseLineHeight) / 2) 25px (($navbarHeight - $baseLineHeight) / 2);
}
.nav > .active > a {
  background-color: #25aeeb;
}

.section-header {
  background-color: #F0F6F8;
}