// Place all the styles related to the efars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, #map_canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}