- content_for :js do
  %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
  = javascript_include_tag 'mapper'

#app

:javascript
  jQuery(function(){
    new App({el: $('#app')});
  });