.container-fluid
  .row-fluid
    .span8
      .section.account
        .section-header
          %h3 My Account
          .section-actions
            %a.btn.btn-primary{:href=>edit_research_account_path}
              %i.icon-edit.icon-white
              Edit
        .section-body
          - if flash[:notice].present?
            .alert= flash[:notice]
            
          .form-horizontal
            .control-group
              %label.control-label Email
              .controls
                %span.uneditable-input= @researcher.email
            .control-group
              %label.control-label Full Name
              .controls
                %span.uneditable-input= @researcher.full_name
            .control-group
              %label.control-label Affiliation
              .controls
                %span.uneditable-input= @researcher.affiliation
            
            .form-actions
              %a.btn.btn-primary{:href=>edit_research_account_path}
                Edit account info or password    