!!!
%html
  %head
    %title EFAR RESEARCH
    = stylesheet_link_tag 'efar_research'
    = csrf_meta_tags
  %body
    #page-topbar
      .brand
        %i.efar-sprite-research-logo
      %ul.nav
        %li.active
          %a{ :href => '#' } Efars
        %li
          %a{ :href => '#' } Dispatches


    