.account-editor
  .section.span8
    .header
      .pull-right
        %a.btn.btn-link{:href=>account_path}
          Cancel
      .header-body
        %h4 Edit Account
    
    .body
      - if @dispatcher.errors.present?
        .alert.alert-error There were some errors updating your account. See below for more information.

      = form_for(@dispatcher, :as => :account, :url => account_path, :method => :put, :html => {:class=>"form-horizontal"}) do |f|

        = horizontal_text_field(@dispatcher, :full_name)
        = horizontal_text_field(@dispatcher, :username)

        .control-group{:class => @dispatcher.errors.present? && "error" }
          %label.control-label New password
          .controls
            %input{:type=>"password", :name=>"dispatcher[password]", :placeholder=>""}
            - if @dispatcher.errors[:password].blank?  
              %span.help-block
                %small Enter a new password, or leave blank to keep your old one
            - if @dispatcher.errors[:password].present?
              %span.help-inline= @dispatcher.errors[:password].first

        .control-group
          %label.control-label Confirm password
          .controls
            %input{:type=>"password", :name=>"dispatcher[password_confirmation]", :placeholder=>""}

        .form-actions
          %button.btn.btn-primary{:type=>'submit'} Save
          %a.btn{:href=>account_path} Cancel  