.account-editor
  .section.span8
    .header
      .pull-right
        %a.btn.btn-primary{:href=>edit_account_path}
          %i.icon-cog.icon-white
          Edit
      .header-body  
        %h4 My Account
        
    .body
      - if flash[:notice].present?
        .alert= flash[:notice]
        
      .form-horizontal
        .control-group
          %label.control-label Username
          .controls
            %span.uneditable-input= @dispatcher.username
        .control-group
          %label.control-label Full Name
          .controls
            %span.uneditable-input= @dispatcher.full_name
        
        .form-actions
          %a.btn.btn-primary{:href=>edit_account_path}
            Edit account info or password    